<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ググれカス.com</title>
  <link rel="shortcut icon" href="img/favicon.png" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css'>
  <link rel="stylesheet" href="css/style.css">

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript">
    if (navigator.userAgent.indexOf('iPhone') > 0) {
      $("body").addClass("iPhone");
    };
  </script>
</head>

<body>

  <h1>
    <span>G</span><span>g</span><span>r</span><span>k</span><span>s</span>
  </h1>

  <div id="ggrks">
    <div class="cont">

      <section class="section org_mainWord">

        <div class="inputArea">
          <label for="">検索ワード</label>
          <input type="text" v-model="search1" placeholder="検索ワード">
        </div>

        <div class="inputArea">
          <label for="">検索ワード</label>
          <input type="text" v-model="search2" placeholder="検索ワード">
        </div>

        <div class="inputArea">
          <label for="">検索ワード</label>
          <input type="text" v-model="search3" placeholder="検索ワード">
        </div>

      </section>

      <section class="section">
        <div class="inputArea org_absolute">
          <label for="">絶対ワード</label>
          <input type="text" v-model="att" placeholder="絶対検索したいワード">
        </div>

        <div class="inputArea org_exclusion">
          <label for="">除外ワード</label>
          <input type="text" v-model="not" placeholder="検索除外したいワード">
        </div>
        <!--    <label for="">サイト内検索</label>
   <input type="text" v-model="insite" placeholder="hoge.com"> -->
      </section>
    </div>

    <div class="cont">
      <section class="postArea">
        <form action="http://www.google.co.jp/search" method="get" target="_blank">
          <label for="">検索キーワード</label>
          <!--     <textarea name="q" id="" cols="30" rows="10" v-bind="result">{{ search }} -{{ not }} "{{ att }}" site:{{ insite }}</textarea> -->
          <textarea name="q" class="" cols="30" rows="10" v-bind="result">{{ search1 }} {{ search2 }} {{ search3 }} "{{ att }}" -{{ not }}</textarea>
          <input class="button-black button-outline" type="submit" name="btnG" value="Ggrks検索する  >> ">
        </form>
      </section>

    </div>
  </div>

  <footer>copy＠<a href="https://xn--wckt73v.com/" target="_blank">ザ脳</a></footer>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.min.js'></script>

  <script src="js/index.js"></script>
</body>

</html>
